@import 'tailwindcss';

:root {
  --background: #ffffff;
  --primary: #171717;
  --secondary: #707070;
  --tertiary: #999999;
  --quaternary: #bbbbbb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-serif: 'waters-titling-pro';
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-size: 12px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    font-family: 'waters-titling-pro', Georgia, serif;
    color: var(--primary);
    font-size: 1.3rem;
  }
  h2 {
    font-family: 'waters-titling-pro', Georgia, serif;
    color: var(--primary);
    font-size: 1.1rem;
  }
  h3 {
    font-family: 'waters-titling-pro', Georgia, serif;
    color: var(--primary);
    font-size: 1rem;
  }
  small {
    color: var(--quaternary);
    font-size: 0.7rem;
  }
}

.navMenu {
  pointer-events: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  transition: left 0.7s ease-in-out;
}

.navMenu[data-active='true'] {
  left: 0;
}

.navMenu[data-active='false'] {
  left: 100%;
}
